body {
  padding: 35px 7%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

#container {
 width: 100%;
 height: auto;
}
.jumbotron {
  padding-right: 12px;
   background-color: transparent !important;  
  height: contain;
  /* background-image: url("Udacity_logo2.png");
  background-position: left;
  background-size: 7.6%;
  background-repeat: no-repeat; */
 }

.line {
  border-style: solid;
}

.bg-image {
  background-position: right center;
  background-repeat: no-repeat;
}

img {
    width: 100%;
    height: auto;
}

.caption {
    font-size: 28px;
    text-align: center;
}

.ftdwrk {
    font-size: 36px;
    color: #7d97ad;
}

/* .sharkthumb {
    height: 25%;
} */

.row {
    padding-right: 5px;
}

.bg-image
img {
    width: 85%;
    height: auto;
    background-position: center;
}

.thumbnail {
    width: 90%;
    height: auto;
}
/* .img-thumbnail {
    width: 75%;
    height: auto;
} */